/* Custom Styles for Chaoyou Home */
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-caption {
    bottom: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}